header {
  padding: 0% 7%;
}

nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.bar ul {
  list-style-type: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.bar li {
  padding: 0px 18px;
}

.left-head {
  width: 50%;
}

.left-head h1 {
  font-size: 50px;
  color: #58402C;
}

.left-head p {
  font-size: 22px;
  color: #58402C;
}

.right-head {
  width: 50%;
}

.right-head img {
  width: 100%;
}

.row-clr {
  background-color: #FFE7D2;
}

.top-box {
  padding: 5% 15%;
  text-align: center;
}

.top-box .box-illustration {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  padding-top: 5%;
}

.top-box .box-illustration .row-illustration {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.top-box .box-illustration .row-illustration img {
  width: 40%;
}

.space-bottom {
  padding-bottom: 8%;
}

.bottom-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.bottom-box img {
  width: 20%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.left-main {
  width: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
          align-items: flex-end;
}

.left-main .cover-employe {
  width: 100%;
}

.left-main img {
  width: 45%;
}

.right-main {
  width: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.right-main .cover-employe {
  width: 100%;
}

.right-main img {
  width: 45%;
}

.tit-sec {
  text-align: center;
}

.container-sec {
  margin-left: 30%;
  margin-right: 30%;
  border: 1px solid grey;
}

.container-sec .found-cont {
  display: -webkit-box;
  display: flex;
}

.container-sec .found-cont img {
  width: 7.5%;
  height: 7.5%;
}

.sign-sec {
  padding-top: 2.5%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.slogan {
  width: 35%;
}

.contact-box {
  width: 65%;
  display: -webkit-box;
  display: flex;
}

.contact-box ul {
  list-style-type: none;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 7% 0%;
}

.btn {
  display: -webkit-box;
  display: flex;
}

.btn button {
  background-color: #30488F;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

hr {
  margin: 0;
}

