footer{
  width: 100%;
  display: flex;
  padding: 55px 0px;
}

.slogan{
  width: 35%;
  display: flex;
  justify-content: center;
}

.contact-box{
  width: 65%;
  margin-right: 20px;
  display: flex;
  justify-content: center;

  .contact{
    padding: 0px 20px;
    font-size: 16px;
  }

  ul{
    list-style-type: none;
  }
}
