header{
  padding: 0% 7%;
}

// navbar
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar li{
  padding: 0px 18px;
}

// header
.left-head{
  width: 50%;
  h1{
    font-size: 50px;
    color: $brand_primary;
  }
  p{
    font-size: 22px;
    color: $brand_primary;
  }
  .btn{
    display: flex;
  }
}

.right-head{
  width: 50%;
  img{
    width: 100%;
  }
}
