@import "variables";
@import "header";
@import "main";
@import "footer";

.container{
  width: $content-size;
  display: flex;
  align-items: center;
  padding: 7% 0%;
}

.btn{
  display: flex;
}

a{
  text-decoration: none;
}
